{{>navbar}}

{{#if allTurno}}
<div class="container p-3">
    <div class="row">
        {{!Inicio lunes}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#011126">
            <a>
                <h2 class="text-center" style="color: white;">Lunes</h2> 
            </a>
            
            <hr style="background-color: white;">   
            {{#each allTurno}}
                {{#esLun this}}
                <div class="card ">
                    <div class="card-body p-2">
                        <table class="table table-hover table-striped mt-1">
                            <tr>
                                <td><b>ID TURNO</b></td>
                                <td>{{id_turno}}</td>
                            </tr>
                            <tr>
                                <td><b>INICIO TURNO</b></td>
                                <td>{{inicio_turno}}</td>
                            </tr>
                            <tr>
                                <td><b>FIN TURNO</b></td>
                                <td>{{fin_turno}}</td>
                            </tr>
                        </table>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                                Elimina por id
                            </button>
                            <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                                Eliminar turno
                            </button>
                    
                            <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                                Editar
                            </a>
                        </div>
                    </div>
                </div>
                {{/esLun}}
            {{/each}}
        </div>
        {{!Fin Lunes}}

        {{!Inicio Martes}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#ecedf0;">
            <a>
                <h2 class="text-center">Martes</h2> 
            </a>
            <hr> 
            {{#each allTurno}}
            {{#esMar this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                            <tr>
                                <td><b>ID TURNO</b></td>
                                <td>{{id_turno}}</td>
                            </tr>
                            <tr>
                                <td><b>INICIO TURNO</b></td>
                                <td>{{inicio_turno}}</td>
                            </tr>
                            <tr>
                                <td><b>FIN TURNO</b></td>
                                <td>{{fin_turno}}</td>
                            </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            {{/esMar}}
            {{/each}}
        </div>
        {{!Fin Martes}}

        {{!Inicio Miercoles}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#011126">
            <a>
                <h2 class="text-center" style="color: white;">Miercoles</h2> 
            </a>
            
            <hr style="background-color: white;">   
            {{#each allTurno}}
            {{#esMie this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                        <tr>
                            <td><b>ID TURNO</b></td>
                            <td>{{id_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>INICIO TURNO</b></td>
                            <td>{{inicio_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>FIN TURNO</b></td>
                            <td>{{fin_turno}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            
            {{/esMie}}
            {{/each}}
        </div>
        {{!Fin Miercoles}}

        {{!Inicio Jueves}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#ecedf0;">
            <a>
                <h2 class="text-center">Jueves</h2> 
            </a>
            <hr> 
            {{#each allTurno}}
            {{#esJue this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                        <tr>
                            <td><b>ID TURNO</b></td>
                            <td>{{id_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>INICIO TURNO</b></td>
                            <td>{{inicio_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>FIN TURNO</b></td>
                            <td>{{fin_turno}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            {{/esJue}}

            {{/each}}
        </div>
        {{!Fin Jueves}}

        {{!inicio Vienes}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#011126">
            <a>
                <h2 class="text-center" style="color: white;">Viernes</h2> 
            </a>
            <hr style="background-color: white;"> 
            {{#each allTurno}}
            {{#esVie this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                        <tr>
                            <td><b>ID TURNO</b></td>
                            <td>{{id_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>INICIO TURNO</b></td>
                            <td>{{inicio_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>FIN TURNO</b></td>
                            <td>{{fin_turno}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            
            {{/esVie}}
            {{/each}}
        </div>
        {{!Fin Viernes}}
        {{!Inicio Sabado }}
        <div class="col-md-4 mx-auto p-4" style="background-color:#ecedf0;">
            <a>
                <h2 class="text-center">Sabado</h2> 
            </a>
            <hr> 
            {{#each allTurno}}
            {{#esSab this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                        <tr>
                            <td><b>ID TURNO</b></td>
                            <td>{{id_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>INICIO TURNO</b></td>
                            <td>{{inicio_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>FIN TURNO</b></td>
                            <td>{{fin_turno}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            {{/esSab}}
            {{/each}}
        </div>
        {{!Fin Sabado}}

        {{!Inicio Domingo}}
        <div class="col-md-4 mx-auto p-4" style="background-color:#ecedf0;">
            <a>
                <h2 class="text-center">Domingo</h2> 
            </a>
            <hr> 
            {{#each allTurno}}
            {{#esDom this}}
            <div class="card">
                <div class="card-body p-2">
                    <table class="table table-hover table-striped mt-1">
                        <tr>
                            <td><b>ID TURNO</b></td>
                            <td>{{id_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>INICIO TURNO</b></td>
                            <td>{{inicio_turno}}</td>
                        </tr>
                        <tr>
                            <td><b>FIN TURNO</b></td>
                            <td>{{fin_turno}}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-danger btn-eGTurnoId" value="{{id_turno}}">
                            Elimina por id
                        </button>
                        <button class="btn btn-secondary btn-eGTurno" value="{{id_turno}}+{{dia_turno}}">
                            Eliminar turno
                        </button>
                        <a class="btn btn-primary" href="/turnos/editGesTurno/{{id_turno}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            
            {{/esDom}}
            {{/each}}
        </div>
        {{!Fin Domingo}}
        
    
    </div>
</div>

{{else}}
<div class="col-md-4 mx-auto m-4">
            <div class="card card-body text-center">
                <h4>No existen turnos generados</h4>
                <hr>
                <a  class="btn btn-primary m-3" href="/turnos/addGesTurno">Generar turnos</a>
            </div>
        </div>
{{/if}}